
#fmodapi375win
#freetype-2.3.5
#lua-5.2.1
#OpenGlut

*.user
#*.dll
#*.mp3
#*.ttf
*.png
*.bmp

*.autosave

*.ncb
*.suo
BuildLog.htm
*.obj
*.idb
*.pdb

save*.lua
saves*

output.txt

*.bak*

putty*.log
